h2{color: bisque;}

.caja{
    border: 4px solid white;
    border-radius: 10px;
    max-width: 400px;
    right: 500px;
}

.contenido{
    justify-content: center;
    align-items: center;
    display: flex;
}